{% load static %}
{% load custom_tags %}
{% load notifications_tags %}
<!DOCTYPE html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type = "text/css" href="{% static 'media/main.css' %}">

    

    <!-- Title -->
    {% if title %}
        <title>Socio Med - {{ title }}</title>
    {% else %}
        <title>Socio Med</title>
    {% endif %}

    <link rel = "icon" 
        href = "/images/feed.png" 
        type = "image/x-icon">


</head>



<body>

    <!-- Navigation Bar -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-light bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4 text-white" href="{% url 'media-home' %}">Socio<span class="dot-1">.</span>Med<span class="dot-2">.</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">

                    <!-- Navbar Left Side -->
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'media-home' %}">Home</a>
                    </div>

                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                                {% notifications_unread as unread_count %}
                                <a href="{% url 'notification' %}" class="nav-item nav-link">
                                    <i class='fas fa-bell' style='color:#fff'>  
                                        {% if unread_count %}
                                            <i class="fas fa-circle notify-dot" style='color:red; font-size: 7px;'></i>
                                        {% endif %}
                                    </i>
                                </a>
                            <a class="nav-item nav-link" href="{% url 'profile_edit' %}"><i class='fas fa-cog' style='color:#fff'></i></a>
                            
                            <div class="dropdown">
                                <button class="btn dropdown-toggle text-white nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="rounded-circle mr-2" src="{{ user.profile.image.url }}" width="30px">
                                    {{ user.username }}
                                    {% if request.user|has_group:"Verified User"  %}
                                        <i class="fas fa-check-circle" style="color: teal;"></i>
                                    {% endif %}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item"  href="{% url 'profile' %}"><i class='fas fa-user-circle mr-4' style='color:red'></i>Profile</a>
                                    <a class="dropdown-item " href="{% url 'logout' %}"><i class="fas fa-sign-out-alt mr-4" style='color:red'></i>Logout</a>
                                </div>
                              </div>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <main role="main" class="container">
        <div class="row">

            <!-- Left Sidebar -->
            <div class="col-md-3 left-sidebar">
                <div class="left-bar">
                    <p class='text-muted'>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-light position-relative"><i class='fas fa-home mr-4' style='color:red'></i><a href="{% url 'media-home' %}" class="stretched-link">Home</a></li>
                            {% if user.is_authenticated %}
                                <li class="list-group-item list-group-item-light position-relative"><i class='fas fa-user-circle mr-4' style='color:red'></i><a href="{% url 'profile' %}" class="stretched-link">Profile</a></li>
                            {% endif %}
                            <li class="list-group-item list-group-item-light position-relative"><i class="far fa-newspaper mr-4" style="color:red"></i><a href="{% url 'news' %}" class="stretched-link">News</a></li>
                            <li class="list-group-item list-group-item-light position-relative"><i class='fas fa-vote-yea mr-4' style='color:red'></i><a href="{% url 'voting' %}" class="stretched-link">Voting</a></li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-md-6">

                <!-- Message Alert -->
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <!-- Block Content -->
                {% block content %}{% endblock %}
            </div>

            
            <!-- Right Sidebar -->
            <div class="col-md-3">
                <div class="content-section">
                    <h4 class="text-center">News Updates</h4>
                    <p class='text-muted'>
                        <ul class="list-group">
                            {% for m in news %}
                                <article class="media news-item position-relative">
                                    <a href = "{% url 'news-detail' m.id %}" class="stretched-link">
                                    <img src="{{ m.image.url }}" class = "news-img mt-2">
                                    </a>
                                    <div class="media-body">
                                        <div class="news-metadata">
                                            <small class="text-muted">{{ m.date_posted|date:"F d, y" }}</small>
                                        </div>
                                        <div class="news-content">{{ m.title }}</div>
                                        
                                        
                                    </div>
                                </article>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </main>
    
    <!-- JavaScript -->
    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
</body>
</html>