{% extends "media/base.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block content %}

    {% if request.user|has_group:"Verified User" %}
        <!-- Create New Post -->
        {% if user.is_authenticated %}
            <div class="content-section post-data">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group row p-2">
                        <div class="col-md-2"><img src="{{ user.profile.image.url }}" class = "rounded-circle article-img"></div>
                        <div class="col-md-10 post-form">{{ pc_form | crispy }}</div>
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info post-btn" type="submit">Post</button>
                    </div>
                </form>
            </div>
        {% endif %}
    {% endif %}



    <!-- All Posts -->
    {% for post in posts %}
        <article class="media content-section view-post">
            <img src="{{ post.author.profile.image.url }}" class = "rounded-circle article-img">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author }}
                        {% if post.author|has_group:"Verified User" %}
                            <i class="fas fa-check-circle" style="color: hsl(240, 94%, 69%);"></i>
                        {% endif %}
                    </a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, y" }}</small>
                    {% if post.author == user %}
                        <div>
                            <a class="btn btn-secondary btn-sm  mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a>
                            <a class="btn btn-danger btn-sm  mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a>
                        </div>
                    {% endif %}
                </div>
                <div class="position-relative mt-4">
                    {% if post.image %}
                        <img src="{{ post.image.url }}"  class="mb-4" width="100%">
                    {% endif %}
                    <p class="article-content">{{ post.content }}</p>
                    <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                </div>
                
            </div>
        </article>
    {% endfor %}
{% endblock content %}
