{% extends "media/base.html" %}
{% load custom_tags %}
{% block content %}
    {% for p in profile %}
        {% if p.user in users %}
            <article class="media content-section voting">
                    <img src="{{ p.image.url }}" class = "rounded-circle m-3" width="80px">
                    <a class="mr-2 text-muted mt-5" href="#">{{ p.user }}
                        {% if request.user|has_group:"Verified User"  %}
                            <i class="fas fa-check-circle" style="color: hsl(240, 94%, 69%);"></i>
                        {% endif %}
                    </a>
                    <div class="col-md-3"></div>
                    <div class="media-body col-md-3 mt-4">
                           <form action="{% url 'vote_user' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_id" value="{{ p.id }}">
                                <button class="btn btn-success btn-sm  mt-1 mb-1" type="submit">Vote</button>
                            </form>
                            <strong>{{ p.amountofvotes }} Votes</strong>
                    </div>
            </article>
        {% endif %}
    {% endfor %}
{% endblock content %}
