body {
  background: #080808;
  color: #ffffffc2;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
.navbar-brand {
  font-weight: 600;
}
ul {
  margin: 0;
}

.bg-steel {
  background: #121416;
}
.dot-1 {
  position: relative;
  top: -12px;
  font-weight: bolder;
  left: -4px;
}
.dot-2 {
  position: relative;
  top: -16px;
  font-weight: bolder;
}
.notify-dot {
  position: relative;
  top: -11px;
  font-weight: bolder;
  left: -7px;
}
.site-header .navbar-nav .nav-link {
  font-weight: 600;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-nav .dropdown .dropdown-menu {
  background: #121416;
  border-radius: 5px;
  border: 1px solid grey;
}
.navbar-nav .dropdown .dropdown-menu .dropdown-item {
  color: #fff;
  font-weight: 600;
}
.navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
  background: black;
  border-radius: 5px;
  color: #109ac5 !important;
}

.site-header .navbar-nav .nav-link:hover {
  color: #109ac5 !important;
  background: black;
  border-radius: 5px;
}
.site-header .navbar-nav .nav-link i:hover {
  color: #109ac5 !important;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
.news-img {
  width: 80px;
  margin-right: 16px;
  border-radius: 5px;
}
.news-content {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 90px;
  margin-bottom: 30px;
}
.content-section {
  background: #121416;
  padding: 10px 20px;
  border: 1px solid #121416;
  border-radius: 10px;
  margin-bottom: 20px;
}
.left-bar {
  background: #080808;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.list-group-item-light {
  background-color: #080808;
}
.list-group-item {
  border: none;
  margin-bottom: 20px;
}
.list-group-item:hover {
  background: #121416;
}
.news-item {
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
}

.left-sidebar .list-group-item-light a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.left-sidebar .list-group-item-light a:hover {
  color: #109ac5;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.notification-badge:hover {
  cursor: pointer;
  opacity: 0.75;
  transition: 0.3%;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 325px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 0.9rem;
}
.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown-item-parent {
  position: relative;
  display: block;
}
.dropdown-item-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
  padding-right: 5px;
  transition: 0.3%;
}
.dropdown-item-close:hover {
  color: rgb(180, 25, 25);
  transition: 0.3%;
  cursor: pointer;
}
.vote-section {
  margin-left: 10%;
}
/* .post-data {
  border: 1px solid grey;
}
.view-post {
  border: 1px solid grey;
} */
.form-control::placeholder {
  background-color: #121416;
}
.textarea {
  resize: none;
  border-style: none;
  border-color: Transparent;
  overflow: auto;
  border-bottom: 1px solid grey;
}

#div_id_image div {
  width: 32px;
  height: 35px;
  background: url(camera.png) no-repeat center;
  overflow: hidden;
}

#div_id_image div input {
  display: block !important;
  width: 32px !important;
  height: 35px !important;
  opacity: 0 !important;
  overflow: hidden !important;
}
.post-btn {
  position: relative;
  bottom: 57px;
  right: -435px;
}
#div_id_image {
  margin-bottom: 0 !important;
}
