body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}
.navbar-brand {
  font-weight: 600;
}
ul {
  margin: 0;
}

.bg-steel {
  background: white;
  border: 1px solid #dddddd;
}

.site-header .navbar-nav .nav-link {
  color: #444444;
  font-weight: 600;
}

.site-header .navbar-nav .nav-link:hover {
  color: #109ac5;
}
.site-header .navbar-nav .nav-link i:hover {
  color: #109ac5 !important;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.left-sidebar .list-group-item-light a {
  color: #444444;
  text-decoration: none;
  font-weight: 600;
}
.left-sidebar .list-group-item-light a:hover {
  color: #109ac5;
}
/* .left-sidebar .list-group-item i:hover {
  color: #109ac5 !important;
} */

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.notification-badge:hover {
  cursor: pointer;
  opacity: 0.75;
  transition: 0.3%;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 325px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 0.9rem;
}
.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown-item-parent {
  position: relative;
  display: block;
}
.dropdown-item-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem;
  padding-right: 5px;
  transition: 0.3%;
}
.dropdown-item-close:hover {
  color: rgb(180, 25, 25);
  transition: 0.3%;
  cursor: pointer;
}
